*, *:before, *:after {
  box-sizing: border-box; }
  
body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.active {
  display: block;
  border-bottom: 2px solid orange;
}

.section {
  margin: 30px 0;
}

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #000000;
}

.page-header__title {
  font-family: Arial;
  font-size: 14px;
  color: #ffffff;
}

.container {
  width: 90%;
  margin: auto;
}

.container-grid {
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 35px;
  width: 90%;
  margin-top: 55px;
}
.search {
 position: relative;
}

.search-icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 32px;
  height: 18px;
  background: url('../images/search-icon.svg') no-repeat;
  border-right: 1px solid #000;
}

.page-search__input {
  width: 1010px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 5px 0px 0px 5px;
  padding-left: 60px;
  outline: none;
}

.result-search-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.result-search__title {
  font-family: Arial;
  font-weight: 200;
  font-size: 28px;
  margin-right: 20px; 
}

.result-search__text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #8b8b8b;
}

.slider-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider{
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.slider__elem{
  display: flex;
  align-items: center;
  width: 220px;
  height: 60px;
  flex: 0 0 232px;
  border-right: 1px solid #B9B9B9;
  margin-right: 20px;
}

.slide__image {
  width: 60px;
  height: 60px;
  border-radius: 3px;
}

.slide-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  margin-left: 10px;
}

.slide-text__title {
  font-size: 14px;
  color: #333333;
  margin: 0  20px 10px 0;
}

.slide-text__text {
  font-size: 12px;
  color: #8b8b8b;
}

.slider-shadow::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0px;
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, transparent 0%, #ffffff 100%);
}

.left-side__title, .range-slider__title {
  font-family: Arial;
  font-size: 14px;
  margin-bottom: 20px;
}

.left-side-list__elem li {
  font-family: Arial;
  font-size: 12px;
  color: #5375B7;
  margin-bottom: 12px;
}

.left-side-list__elem li:hover {
  color: #F1BD45;
}

.left-side-list__elem output {
  font-family: Arial;
  font-size: 12px;
  color: #8B8B8B;
}

.page-filter__row {
  display: flex;
  justify-content: space-between;
}

.page-filter__row--start {
  justify-content: start;
  margin-top: 20px;
}

.filter-sort__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

.filter-sort, .filter-sort__list, .page-filter__select {
  display: flex;
}

.filter-sort__list li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin-right: 15px;
  color: #5375B7;
}

.page-filter__select p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

.button {
  font-size: 14px;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.button__page-filter {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #FFF3D8;
  padding: 7px 15px;
  margin-right: 10px;
}

.button__page-filter:hover {
  background-color: #ffe3a4;
}

.button-list {
  position: absolute;
  top: 0;
  left: 1010px;
}

.button__search {
  width: 145px;
  height: 40px;
  background: #F1BD45;
  border-radius: 0px 3px 3px 0px;
  margin-left: -7px;
}

.button__search:hover {
  color: #ffffff;
  background: #dd9d07;
}

.button__close {
  width: 117px;
  height: 40px;
  background: transparent;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  margin-left: 6px;
}

.button__close:hover {
  background: #DEDEDE;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 260px);
  gap: 40px 44px; 
  margin-top: 20px;
}

.card {
  width: 260px;
}

.card__image {
  width: 260px;
  height: 260px;
  border-radius: 3px;
}

.card__title {
  font-family: 'Arial';
  font-size: 14px;
  margin: 10px 0 18px 0;
}

.card__price, .card__price--disable {
  font-family: 'Source Sans Pro', sans-serif;
}

.card__price {
  font-weight: 700;
  font-size: 16px;
}

.card__price--disable {
  font-size: 14px;
  color: #A9A9A9;
  text-decoration: line-through;
  margin-left: 16px;
}

.button__card {
  width: 100%;
  font-family: 'Arial';
  background-color: #F1BD45;
  padding: 12px;
  margin-top: 15px;
}

.button__card:hover {
  color: #ffffff;
  background-color: #dd9d07;
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.pagination__link {
  color: #A9A9A9;
  margin-right: 30px;
}

.pagination__link--active {
  color: #000000;
}

.pagination__prev {
  margin-right: 30px;
  transform: scale(-1, 1);
}

.range-slider {
  position: relative;
  height: 140px;
  margin-top: 46px;
}

.range-slider__title {
  margin-top: 46px;
}

label {
  font-family: Arial;
  font-size: 12px;
  color: #000000;
  opacity: 0.5; 
}

.min, .max {
  width: 110px;
  height: 40px;
  border: 1px solid #DEDEDE;
  border-radius: 3px; 
}

.range::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.range::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

.range {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 100px;
  width: 275px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

.button__clear {
  position: absolute;
  top: 140px;
  right: 60px;
  display: block;
  font-family: Arial;
  font-size: 10px;
  color: #333333;
  opacity: 0.5;
  text-decoration: underline;
  background-color: transparent;
}

