<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>

  <header class="page-header">
    <div class="container">
      <h1 class="page-header__title">Шапка сайта</h1>
    </div>
  </header>

  <section class="section page-search">
    <div class="container">
      <form action="" method="get">
        <input name="s" placeholder="Искать здесь..." type="search">
        <button type="submit">Найти</button>
        <button type="submit">Закрыть</button>
      </form>
    </div>
  </section>

  <section class="section result-search">
    <div class="container">
      <div class="result-search-wrapper">
        <h2 class="result-search__title">Результаты по запросу</h2>
        <p class="result-search__text">Показаны результаты для “Запрос пользователя”. Вы искали “Запрос пользователя”.</p>
      </div>

      <div class="slider-wrapper slider-shadow">
        <div class="slider slider-shadow">
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div>
          </div>
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div>
          </div>
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div>
          </div>
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div>
          </div>
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div>
          </div>
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <output class="slide-text__text">134 товара</output>
            </div>
          </div>
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div>
          </div>
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div>
          </div>
          <div class="slider__elem" >
            <img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div>
          </div>
          <div class="slider__elem" ><img class="slide__image" src="images/slide1.jpg" alt="Название категории">
            <div class="slide-text">
              <h3 class="slide-text__title">Название категории</h3>
              <p class="slide-text__text">134 товара</p>
            </div></div>
        </div>
      </div>

    </div>
  </section>

  <main>
    <div class="container container-grid">

      <aside class="left-side">

        <h4 class="left-side__title">Все категории</h4>
        <ul class="left-side-list">
          <div class="left-side-list__elem">
            <a href="">
              <li>Категория в которой нашли что-то <output>(xxx)</output></li>
            </a>
          </div>
          
          <div class="left-side-list__elem">
            <li>Категория в которой нашли что-то <output>(xxx)</output></li>
          </div>

          <div class="left-side-list__elem">
            <li>Категория в которой нашли что-то <output>(xxx)</output></li>
          </div>

          <div class="left-side-list__elem">
            <li>Категория в которой нашли что-то <output>(xxx)</output></li>
          </div>

          <div class="left-side-list__elem">
            <li>Категория в которой нашли что-то <output>(xxx)</output></li>
          </div>

          <div class="left-side-list__elem">
            <li>Категория в которой нашли что-то <output>(xxx)</output></li>
          </div>

          <div class="left-side-list__elem">
            <li>Категория в которой нашли что-то <output>(xxx)</output></li>
          </div>

          <div class="left-side-list__elem">
            <li>Еще <output>10</output> категорий</li>
          </div>
        </ul>

        <h4 class="left-side__title">Цена, валюта</h4>  
        
        <div id="app">
          <div class='range-slider'>
            <input type="number" min="0" max="180" step="1" v-model="sliderMin">
            <input type="range" min="0" max="180" step="1" v-model="sliderMin">
            <input type="number" min="0" max="180" step="1" v-model="sliderMax">
            <input type="range" min="0" max="180" step="1" v-model="sliderMax">
          </div>
        </div>
        

      </aside>
  
      <article>
        <section>
          <div class="page-filter">
            
            <div class="page-filter__row">
              
              <div class="filter-sort">
                <h4 class="filter-sort__title">Сортировать по:</h4>

                <ul class="filter-sort__list">
                  <li class="active">популярности</li>
                  <li>сначала дешевые</li>
                  <li>сначала дорогие</li>
                </ul>
              </div>
              

              <div class="page-filter__select">
                <p>показывать по</p>
                <select name="select">
                  <option value="value1">12</option>
                  <option value="value2" selected>24</option>
                  <option value="value3">36</option>
                </select>
              </div>
            </div>

            <div class="page-filter__row--start">
              <button class="button button__page-filter">Уточнение</button>
              <button class="button button__page-filter">Уточнение</button>
              <button class="button button__page-filter">Уточнение</button>
              <button class="button button__page-filter">Уточнение</button>
            </div>

          </div>
        </section>

        <section>
          <ul class="cards-list">
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>
            <li class="card">
              <img class="card__image" src="images/card.jpg" alt="Изображение товара">
              <h5 class="card__title">Наименование товара, которое не более 2 строк</h5>
              <span class="card__price">ХХ ХХХ , $</span>
              <span class="card__price--disable">ХХ ХХХ , $</span>
              <button class="button button__card">Кнопка</button>
            </li>

          </ul>
        </section>

        <section>
          <ul class="pagination">
            <li><a href="#"><img class="pagination__prev" src="images/next.svg" alt=""></a></li>
            <li><a class="pagination__link" href="#">2</a></li>
            <li><a class="pagination__link pagination__link--active" href="#">3</a></li>
            <li><a class="pagination__link" href="#">...</a></li>
            <li><a class="pagination__link" href="#">15</a></li>
            <li><a class="pagination__link" href="#"><img class="pagination__next" src="images/next.svg" alt=""></a</li>
          </ul>
        </section>
        
      </article>

    </div>
    
  </main>
  

  <script src=""></script>
</body>
</html>